/* Footer */

.footer {
    background-color: #2d3442;
}

.footer {
    border-top: grey;
}

.footer-text p {
    color: white;
    text-align: center;
    font-style: lighter;
}

.footer-text a {
    color: white;
    text-decoration: none;
}

.footer-hr {
    margin-top: 0px;
}