.side-menu {
    background-color: rgb(240, 240, 240);
    padding-top: 15px;
    h3 {
        padding: 15px;
    }
}

.side-menu-navigation {
    list-style-type: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    li {
        border-top: 1px solid rgb(220, 220, 220);
        margin-bottom: 0px;
    }
    a {
        color: black;
        display: block;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
    }
}